@model IEnumerable<Toastmaster.Web.Console.Models.ViewModels.MeetingViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Club", "Index", new { sortParam = ViewBag.ClubSortParam })
        </th>
        <th>
            @Html.ActionLink("Seq", "Index", new { sortParam = ViewBag.SeqSortParam })
        </th>
        <th>
            @Html.ActionLink("Hold Date", "Index", new { sortParam = ViewBag.HoldDateSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Club.DisplayText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
            </td>
        </tr>
    }
</table>
